[Unit]
Description=Build the docker-makepkg container

[Service]
ExecStart=/usr/bin/python3 -B /usr/local/share/docker-makepkg/containerBuilder.py
ExecStart=/usr/bin/docker images prune --filter tool=docker-makepkg
